<nav class="navbar navbar-expand-lg navbar-light">
    <!-- websitelogo -->
    <a href="index.html">
    <img src="assets/images/Logokotmadam.png" alt="logo" class="logo">
    </a>
    
    <!-- hamburger icoon -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- hoofdnavigatie -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          {% assign links = site.data.navigation %}
          {% for link in links %}
              {% assign class = nil %}
              {% if link.url contains page.url %}
                  {% assign class = ' active' %}
              {% endif %}
              {% if link.sublinks %}
                  <li class="nav-item dropdown {{ class }}">
                      <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle {{ class }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          {% for sublink in link.sublinks %}
                                  <li class="dropdown-item">
                                      <a class="nav-link{{ class }}" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                  </li>
                          {% endfor %}
                      </ul>
                  </li>
              {% else %}
                  <li class="nav-item{{ class }}">
                      <a class="nav-link{{ class }}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                  </li>
              {% endif %}
          {% endfor %}
        <li>
            <i class="fa fa-instagram fa-2x"></i>
            <i class="fa fa-twitter fa-2x"></i>
            <i class="fa fa-facebook-square fa-2x"></i>
            </li>
      </ul>
    </div>
  </nav>