footer {
    background-color: #2A3159;
    width: 100%;
}

.tekstfooter {
    color: #E7A93D;
    padding: 30px;
    float: left;
}

.center {
    text-align: center;
    color: #E7A93D;
    padding: 30px;
}

.glyphicon {
    color: #9A4917; 
    padding-top: 15px;
    padding-left: 630px;
}

