footer {
    background-color: #2A3159;
    width: 100%;
    padding: 20px; 
}

.center {
    text-align: center;
    color: #E7A93D;
    padding: 20px;
    float: center;
}

.glyphicon {
    color: #9A4917; 
}

footer a {
    color: #E7A93D;
    padding: 30px;
}

.left{
    float: left;
}

