/* NAVIGATION BAR
 -------------------------------------------------- */
nav {
  height: 20px;
}
 .navbar{
  background: #E7A93D; 
  border-bottom: 10px;
  border-bottom-color: #E7A93D;
}

li.nav-item {
  font-family: Montserrat;
  color: #2A3159;
  padding-left: 60px;
  font-size: 16px;
}
a.nav-link.active {
  color: #9A4917;
}

.logo {
 width: 100px;
 padding:10px;
}

.fa {
  padding-left: 20px;
  color: #2A3159;
  float: left;
}

