/* NAVIGATION BAR
 -------------------------------------------------- */
nav {
  min-height: 100px !important;
  padding: 10px;
}

.logo {
  float: left;
  margin-top: 10px;
  margin-right: 1rem;
  width: 120px;
}
.navbar-nav {
  float: left !important;
  font-family: Montserrat;
  font-size: 16px;
  background-color: white;
  border-bottom: 2px solid #E7A93D;
  
}
@media (max-width: 768px) {
  .navbar-nav {
      float: none !important;
      margin-right: 0;
  }
}
.navbar-nav li {
  padding-right: 60px;
}
.navbar-nav li a {
  color: #2A3159 !important;
}

.navbar-nav .active a {
  color: #9A4917 !important;
}

.navbar-nav li i {
  color: #2A3159 !important;
  padding-right: 15px;
  padding-top: 10px;
}
