<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
</head>
<body>
{{ content }}
{% include footer.html %}
{% include scripts-bottom.html %}
<ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Over ons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kamer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Extra Opties</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reserveren</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
</body>
</html>